.thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

.detailsThumbnail {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .character-info {
    min-width: 300px;
    padding-left: 1em;  
  }
  
  h1,h2{
    text-align: center;
  }